@import '../fonts.css';
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  text-align: center;
}

.privacy-main p{
  margin-bottom: 20px;
}
.privacy-main h2{
  margin-bottom: 5px;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-medium;
}

h4 {
  @apply text-xl font-medium;
}

h5 {
  @apply text-lg font-medium;
}

h6 {
  @apply text-base font-normal;
}

